@media only screen and (max-width: 932px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 400px;
        flex-direction: column;
        transition: all 0.3s ease-out;
    }
    .rightnav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 50px;
    }
    .v-nav-resp{
        opacity: 0;
    }
    .logo img{
        width: 65%;
        height: 75%;
        border: 2px solid cyan;
        border-radius: 50%;
    }
    .box-main{
        flex-direction: column-reverse;
        padding: 10px;
    }
    .big-text{
        padding: 27px;
        text-align: center;
    }
    .small-text{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .section{
        height: 700px;
        flex-direction: column-reverse;
    }
    .s-half img{
        width: 40%;
    }
    .input-contact{
        width: 90%;
    }
    textarea{
        width: 90%;
    }
}